Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

URxvt.font: xft:monospace:size=10, xft:FontAwesome:size=9
URxvt.boldFont: xft:monospace:size=10, xft:FontAwesome:size=9
URxvt.scrollBar: false
URxvt.depth: 24
URxvt.letterSpace: -2
URxvt.cursorBlink: false

! Plugins
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 

!!!! URxvt Colors !!!!

! special
URxvt.foreground:   #a7a7a7
URxvt.background:   #1e1e1e
URxvt.cursorColor:  #a7a7a7

! black
URxvt.color0:       #1e1e1e
URxvt.color8:       #5f5a60

! red
URxvt.color1:       #cf6a4c
URxvt.color9:       #cf6a4c

! green
URxvt.color2:       #8f9d6a
URxvt.color10:      #8f9d6a

! yellow
URxvt.color3:       #f9ee98
URxvt.color11:      #f9ee98

! blue
URxvt.color4:       #7587a6
URxvt.color12:      #7587a6

! magenta
URxvt.color5:       #9b859d
URxvt.color13:      #9b859d

! cyan
URxvt.color6:       #afc4db
URxvt.color14:      #afc4db

! white
URxvt.color7:       #a7a7a7
URxvt.color15:      #ffffff

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Rasmus Steinke
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
